:root{
    --imgCover:{
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
  
*{
    margin: 0;
    padding: 0;
}
#blog > .general-container{
    display: grid;
    grid-template-columns: minmax(270px, 1fr);
    justify-content: center;
}
#blog > .general-container > .inicial-img{
    display: grid;
    grid-template-columns: minmax(250px, 1000px);
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 20px;
    @media screen and (min-width: 600px){
        margin-top: 75px;
    }
}

#blog > .general-container > .inicial-img > img{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 700px){
        visibility: visible;
    }
}
#blog >.general-container > .inicial-img > h3{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    color:  #a850c3;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 50px;
    @media screen and (min-width: 600px){
        margin-top: 0;
    }
}
.carousel-caption{
    @media screen and (min-width: 600px){
        padding-left:80px;
    }
}
#blog > .general-container > h3{
    text-align: center;
    margin-bottom: 30px;
    font-family:'Julius Sans One', sans-serif ;
    color: #a850c3;
    font-weight: 550;
    border-top: 2px solid #9e44b9a9;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    @media screen and (min-width: 600px){
        padding-left:80px;
    }
}
#blog > .general-container > .ultima-entrada{
    display: grid;
    grid-template-columns: minmax(250px, 1000px);
    justify-content: center;
    margin-bottom: 50px;
}
#blog > .general-container > .ultima-entrada > .estructura{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 2px 3px rgba(143, 92, 177, 0.7));
    display: grid;
    grid-template-columns: minmax(250px, 600px);
    gap: 10px;
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 600px){
        grid-template-columns: minmax(250px, 500px) minmax(250px, 400px);
        padding-left:80px;
        height: minmax(400px, 600px);
    }
}
#blog > .general-container > .ultima-entrada > .estructura > img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#blog > .general-container > .ultima-entrada > .estructura > .titulo{
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    color: #68217e;
    @media screen and (min-width: 600px){

    }
}
#blog > .general-container > .ultima-entrada > .estructura > .titulo > h4 > a{
    font-family: 'Kaushan Script', cursive;
    color: #68217e;
}
#blog > .general-container > .ultima-entrada > .estructura > .titulo > .fecha{
    font-size: 10px;
}
#blog > .general-container > .ultima-entrada > .estructura > .titulo > p{
    font-size: 15px;
}
#blog > .general-container > .ultima-entrada > .estructura > .titulo > a{
    color: #68217e;
    font-family: 'Kaushan Script', cursive;
    vertical-align: bottom;
}
#formulario{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    @media screen and (min-width: 600px){
        padding-left:80px;
    }
}
#formulario > input{
    border-radius: 10px;
    border: 1px solid #68217ead;
    padding: 5px;
    font-family:'Varela Round', sans-serif ;
    color: #68217ebd;
}
#formulario > input:active{
    border: 1px solid #68217ead;
}
#formulario > a > i{
    background-color: #68217e;
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: 0.6s;
}
#formulario > a > i:hover{
    transform: rotateZ(20deg);
    transition: .6s;
}
#blog > .general-container > .antiguas {
    display: grid;
    grid-template-columns:  minmax(250px, 900px);
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 600px){
        padding-left:80px;
        grid-template-columns: repeat(2, minmax(250px, 900px));
    }
}
#blog > .general-container > .antiguas > .por-entradas > h5{
    font-family:'Julius Sans One', sans-serif ;
    color: #702886;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: 600px){
        padding-left:80px;
    }
}
#blog > .general-container > .antiguas > .por-entradas > .entradas-anteriores{
    display: grid;
    grid-template-columns: minmax(250px, 800px);
    justify-content: center;
    margin-bottom: 100px;
    gap: 10px;
    @media screen and (min-width: 600px){
        padding-left:80px;
    }
}
#blog > .general-container > .antiguas > .por-entradas > .entradas-anteriores > .item{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
}
#blog > .general-container > .antiguas > .por-entradas > .entradas-anteriores > .item > .estructura:hover{
    background-color: #702886;
    transition: 0.8s;
    border-radius: 10px;
}
#blog > .general-container > .antiguas > .por-entradas >.entradas-anteriores > .item > .estructura{
    display: grid;
    grid-template-columns: minmax(100px, 250px) minmax(130px, 300px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #7028868e;
    transition: 0.6s;
}
#blog > .general-container > .antiguas > .por-entradas >.entradas-anteriores > .item > .estructura > img{
    width: 100%;
    height: 100px;
    padding-top: 7px;
    padding-left: 5px;
    border-radius: 10px;
}
#blog > .general-container > .antiguas > .por-entradas >.entradas-anteriores > .item > .estructura > div{
    padding-left: 30px;
    font-family: 'Varela Round', sans-serif ;
    color: #68217e;
    margin-top: auto;
    margin-bottom: auto;
}
#blog > .general-container > .antiguas > .por-entradas >.entradas-anteriores > .item > .estructura:hover > div > p{
    color: white;
    transition: 0.6s;
}
#blog > .general-container > .antiguas > .por-entradas >.entradas-anteriores > .item > .estructura > div > p:nth-child(1){
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
}

#blog > .general-container > .antiguas > .por-entradas >.entradas-anteriores > .item > .estructura > div > p:nth-child(2){
    font-size: 10px;
}

#blog > .general-container > .antiguas > .por-categorias > h5{
    font-family:'Julius Sans One', sans-serif ;
    color: #702886;
    text-align: center;
    margin-bottom: 30px;
    
}
#blog > .general-container > .antiguas > .por-categorias > .entradas-categorias{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 10px;
    border: 1px solid #68217eaf;
    border-radius: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}
#blog > .general-container > .antiguas > .por-categorias > .entradas-categorias > a{
    font-family: 'Kaushan Script', cursive;
    color: #702886;
    padding: 10px;
}

/*Entradas*/
/*Articulo con 3im-3p*/

#articulo > .contenedor-principal{
    display: grid;
    grid-template-columns: minmax(250px, 1000px);
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 600px){
        padding-left:100px;
    }
}
#articulo > .contenedor-principal > .inicial-img{
    display: grid;
    grid-template-columns: minmax(250px, 900px);
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 600px){
        margin-top: 75px;
    }
}
#articulo > .contenedor-principal> .inicial-img > img{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 700px){
        visibility: visible;
    }
}
#articulo >.contenedor-principal > .inicial-img > h3{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    color:  #a850c3;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 50px;
    @media screen and (min-width: 600px){
        margin-top: 0;
    }
}
#articulo >.contenedor-principal > h3{
    font-family: 'Julius Sans One', sans-serif;
    padding-bottom: 20px;
    color: #68217e;
}
#articulo >.contenedor-principal > .img-container{
    position: relative;
    height: 400px;
}
#articulo >.contenedor-principal > .img-container > img{
    @apply --imgCover;
    padding: 20px;
}
#articulo >.contenedor-principal > p{
    padding: 10px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Varela Round', sans-serif ;
    color: #68217e;
}
#articulo >.contenedor-principal > .datos-clave{
    padding-bottom: 20px;
}
#articulo >.contenedor-principal > .datos-clave > p{
    font-size: 15px;
    font-family: 'Varela Round', sans-serif ;
    color: #68217e;
}
#articulo >.contenedor-principal > .regreso{
    padding-bottom: 30px;
    
}
#articulo >.contenedor-principal > .regreso > a{
    background-color: #68217e;
    color: white;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 2px 3px rgba(64, 164, 221, 0.7));
    font-family: 'Kaushan Script', cursive;
}
#articulo >.contenedor-principal > .regreso > a:hover{
    background-color: rgb(83, 187, 247);
    transition: 0.8s;

}

/*Comentarios*/
#comentarios{
    display: grid;
    grid-template-columns: minmax(270px, 900px);
    justify-content: center;
}
#comentarios > .contenedor-general > .enlace {
    display: grid;
    grid-template-columns: auto 20px;
    justify-content: center;
    gap: 5px;
}  
#comentarios > .contenedor-general >.nuevo-comentario{
    display: grid;
    grid-template-columns: minmax(270px, 800px);
    justify-content: center;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
    padding: 15px;
    background-color: #82259e;
    border-radius: 10px;
    color: white;
    font-family: 'Varela Round', sans-serif ;
}
#comentarios > .contenedor-general >.nuevo-comentario > label{
    text-align: justify;
    padding-left: 10px;
}
#comentarios > .contenedor-general >.nuevo-comentario > textarea{
    border: 10px;
    padding: 10px;
}
#comentarios > .contenedor-general >.nuevo-comentario > button{
    width: 180px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(49, 135, 233);
    color:white;
    font-family: 'Kaushan Script', cursive;
}