:root{
    --imgCover:{
      position: fixed;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    
}

#nosotros > .general-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 70px;
    text-align: center;
}
#nosotros > .general-container > .inicial-img > img{
    visibility: hidden;
    @media screen and (min-width: 700px){
        visibility: visible;
    }
}
#nosotros > .general-container > .inicial-img > h3{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    color:  #a850c3;
    padding-top: 10px;
    margin-top: 50px;
    @media screen and (min-width: 600px){
        margin-top: 0;
    }
}
#specific-container > .frase{
    background-color: #68217e;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 50px;
}
#specific-container > .frase > h3{
    font-size: 50px;
    color: white;
    font-family:'Kaushan Script', cursive;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (min-width: 600px){
        padding-left: 80px;
    }
}
#specific-container > .enfoque{
    padding: 60px;
    font-family: 'Varela Round', sans-serif;
    
}
#specific-container > .enfoque > h4{
    color: #a850c3;
    font-weight: 700;
    font-family: 'Julius Sans One', sans-serif;
    
    @media screen and (min-width: 600px){
        padding-left: 60px;
    }
}
#specific-container > .enfoque > p{
    color: #0d3b68c9;
    font-weight: 700;
    padding-top: 10px;
    @media screen and (min-width: 600px){
        padding-left: 60px;
    }
}
#descripcion > .frase{
    background-color: #68217e;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 50px;
    @media screen and (min-width: 600px){
        padding-left: 60px;
    }
}
#descripcion > .frase > h3{
    font-size: 50px;
    color: white;
    font-family:'Kaushan Script', cursive;
    margin-top: auto;
    margin-bottom: auto;
    
}
#descripcion > .frase > p{
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
}
#descripcion > h4{
    padding-top: 50px;
    font-family: 'Julius Sans One', sans-serif;
    color: #a850c3;
    font-weight: 700;
    @media screen and (min-width: 600px){
        padding-left: 60px;
    }
}
#descripcion > .informacion{
    display: grid;
    grid-template-columns: minmax(240px, 1000px);
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    
    @media screen and (min-width: 600px){
        margin-left: 50px;
        margin-right: 50px;
    }
    
}
#descripcion > .informacion > .botones{
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    @media screen and (min-width: 600px){
        margin-left: 60px;
    }
}
#descripcion > .informacion > .botones > .item > i, #descripcion > .informacion > .botones > .item{
    padding-top: 10px;
    
}
#descripcion > .informacion > .botones > .item > p{
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 5px;
    font-weight: 700;
}
#descripcion > .informacion > .botones > .item:hover{
    background-color:#68217e;
}
#descripcion > .informacion > .botones > .item:hover > i, #descripcion > .informacion > .botones > .item:hover > p{
    color: white;  
}
#descripcion > .informacion > .botones > .item:nth-child(2){
    border-left: 2px solid #a850c3;
    border-right: 2px solid #a850c3;
}
#descripcion > .informacion > .botones > .item > i, #descripcion > .informacion > .botones > .item > p {
    font-size: 15px;
    color: #56086ebe;
    @media screen and (min-width: 600px){
        font-size: 20px;
    }
}
.contenedor-informacion{
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 1000px);
    justify-content: center;
    @media screen and (min-width: 600px){
        margin-left: 70px;
    }
}
.active{
    display:block;
    transition: 1s;
}
.non-active{
    display: none;
}
.contenedor-informacion > .contenedor-general, .contenedor-informacion > .contenedor-general2{
    padding: 5px;
}
.contenedor-informacion > .contenedor-general{
    display: grid;
    grid-template-columns: minmax(280px, 700px);
    justify-content: center;
    align-content: center;
    
    @media screen and (min-width: 750px){
        grid-template-columns: minmax(280px, 700px) minmax(280px, 270px);
        margin-left: 60px;
    }
}
.contenedor-informacion > .contenedor-general > .imagenes{
    
    background-image: url('../../dist/img/15.png');
    padding: 20px;
    
    @media screen and (min-width: 750px){
        grid-column: 2/3;
        margin-bottom: 100px;
    }
}
.contenedor-informacion > .contenedor-general > .imagenes > img{
    width: 100%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    filter: drop-shadow(0 5px 5px #482a74);
}
.contenedor-informacion > .contenedor-general > .descripcion{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
    background-color: #68217e;
    border-radius: 10px;
}
.contenedor-informacion > .contenedor-general > .descripcion > p{
    color: white;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}
.contenedor-informacion > .contenedor-general2{
    display: grid;
    grid-template-columns: minmax(280px, 700px);
    justify-content: center;
    @media screen and (min-width: 750px){
        grid-template-columns: minmax(280px, 270px) minmax(280px, 700px);
        margin-left: 60px;
    }
}
.contenedor-informacion > .contenedor-general2 > .imagenes{
    grid-row: 2/3;
    background-image: url('../../dist/img/15.png');
    padding: 20px;
    @media screen and (min-width: 750px){
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
.contenedor-informacion > .contenedor-general2 > .imagenes > img{
    width: 100%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    filter: drop-shadow(0 5px 5px #482a74);
}
.contenedor-informacion > .contenedor-general2 > .descripcion{
    padding: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
    @media screen and (min-width: 750px){
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
.contenedor-informacion > .contenedor-general2 > .descripcion > p{
    background-color: #68217e;
    padding: 10px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    border-radius: 10px;
    margin-top: 80px;
    font-size: 18px;
}