:root{
  --imgCover:{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

*{
  margin: 0;
  padding: 0;
}

header{
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
nav{
  position: absolute;
  z-index: 9999;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  min-height: 42px;
  max-height: 60px;
  transition: .2s;
}
nav > .brand-logo{
  display: grid;
  grid-template-columns: minmax(200px, 400px);
  justify-content: center;
}
nav > .brand-logo > span{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.589);
  
  border-radius: 70%;
  @media screen and (min-width: 630px){
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911); 
    border-radius: 50%;
    top: 30px;
    right: 30px;
    border: 1px solid rgba(255, 255, 255, 0.418);
  }
  
}
nav > .brand-logo > span > img{
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  
  @media screen and (min-width: 630px){
    width: 220px;
    height: unset;
  }
}

#mySidenav{
  height: 100%;
  background-color: #3b9afadc;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  
  @media screen and (min-width: 768px){
    width: 100px;
  }
}
#mySidenav > .enlaces{
  padding: 10px;
  z-index: 14000;
  position: fixed;
  right: 70px;
  bottom: 30px;
  background-color: #2f80d1;
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  gap: 10px;
  font-family:'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  transition: .3s;
  
  @media screen and (min-width: 768px){
    position: unset;
    height: 100vh;
    border-radius: 0;
    align-content: center;
    gap: 50px;
    filter: drop-shadow(0 2px 3px  #59595adc);
  }
}
#mySidenav > .enlaces.hide{
  right: -100%;
}
#mySidenav > .enlaces > a{
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
#mySidenav > .enlaces > a:hover{
  background-color: #68217e;
}
#mySidenav > .enlaces > a > i{
  display: none;

  @media screen and (min-width: 768px){
    display: block;
  }
}

.menu-overlay{
  z-index: 13000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(159, 11, 189, 0.397);
  transition: .3s;
}
.menu-overlay.hide{
  transform: translateX(-100%);
}

#hamburger{
  z-index: 15000;
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color:#2f80d1;
  justify-content: center;
  align-items: center;
  transition: .3s;
  outline: none;
}
#hamburger:active{
  background-color: white;
  color: #2f80d1;
}
.modal{
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  background-color: #0000008a;
  transform: translateY(0px);
}
.modal.hide{
  transform: translateY(-100%);
}
.modal > .login{
  display: grid;
  grid-template-columns: minmax(300px, 450px);
  background-color: #fff;
  border-radius: 10px;
}
.modal > .login > .title-container{
  color: #fff;
  background-color: #004489;
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: center;
}
.modal > .login > .title-container h5{
  margin: 0;
}
.modal > .login > .title-container i{
  color: var(--sombra);
  justify-self: flex-end;
  cursor: pointer;
}
.modal > .login > .title-container i:hover{
  color: #fff;
}
.modal > .login > .main-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
#modal-message-sent > .login > .title-container{
  background-color: transparent;
  text-align: end;
  display: block;
}
#modal-message-sent > .login > .title-container i:hover{
  color: var(--danger);
}
#modal-message-sent > .login > .message{
  justify-items: center;
  gap: 30px;
}
/* #modal-message-sent > .login > .message i{
  color: var(--success);
  font-size: 80px;
} */
#modal-message-sent > .login > .message p{
  font-size: 20px;
  font-weight: bold;
}
#close-sent{
  color:rgb(231, 86, 86);
}
#enviamelo > p{
  font-family:'Anton', sans-serif ;
  color: #482a74a8;
}
#enviamelo > input{
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(121, 69, 141);
  font-family: 'Anton', sans-serif ;
}
#enviamelo > button{
  background-color: #9d23b6;
  color:white;
  font-family: 'Kaushan Script', cursive;
  transition: 1s;
}
#enviamelo > button:hover{
  background-color: #7303bd;
  transition: 1s;
}
#enviamelo{
  color: #68217e;
}
#enviado > p{
  font-family:'Anton', sans-serif ;
  color: #482a74d8;
}
.message .non-active{
  display:none;
}
.message .active{
  display:block;
}
#carita{
  color: #68217e;
  font-size: 100px;
}

.index-carousel{
  position: relative;
}
.index-carousel> a{
  z-index: 10;
}
.index-carousel> .carousel-inner > .carousel-item{
  height: 100vh;
  position: relative;
  z-index: 6;
}
.index-carousel> .carousel-inner > .carousel-item:nth-of-type(2) > img{
  object-position: bottom;
}
.index-carousel> .carousel-inner > .carousel-item > img{
  @apply --imgCover;
  object-fit: cover;
}
@custom-selector :--index-carousel-overlay-img .index-carousel > .carousel-inner > .carousel-item > .overlay-img;

:--index-carousel-overlay-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Anton', sans-serif;
  background-color: rgba(132, 93, 143, 0.5);
  display: grid;
  color: #fff;
  grid-template-columns: minmax(200px, 800px);
  grid-auto-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
:--index-carousel-overlay-img > p{
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-family:'Kaushan Script', cursive;
  
  @media screen and (min-width: 576px){
    font-size: 2em;
  }
}
:--index-carousel-overlay-img > p > span {
  font-size: 2.6em;
  font-family: 'Julius Sans One', sans-serif;
  
  @media screen and (min-width: 576px){
    font-size: 1.4em;
  }
}
/* .index-carousel> .carousel-inner > .carousel-item:nth-child(4) > .overlay-img > p > span{
  @media screen and (min-width: 576px){
    font-size: 1.8;
  }
} */

main{
  background-color: #f8f8f8;
}


  /*SECCION FRASE*/

#frase{

}
#frase > .general-container{
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  justify-content: center;
  padding-top: 50px;
}
#frase > .general-container > .inicial-img, #servicios > .general-container > .inicial-img{
  text-align: center;
  padding-bottom: 40px;
}
#frase > .general-container > .inicial-img > img, #servicios > .general-container > .inicial-img > img {
  filter: drop-shadow(0 2px 3px rgba(179, 169, 169, 0.7));
}
#frase > .general-container > .contenedor-frase{
  background: radial-gradient(#8237be7c, #6a0f81);
  padding: 50px 10px;
  height: 520px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  @media screen and (min-width: 768px){
    padding: 50px 80px;
    height: 320px;
    padding-left: 100px;
  }
}
#frase > .general-container > .contenedor-frase + .typed-cursor{
  display: none;
}
#frase > .general-container > .contenedor-frase > p:nth-child(1){
  font-size: 40px;
  color: white;
  font-family: 'Allura', cursive;
  text-shadow: 3px 3px 3px  #2f80d1;
}
#frase > .general-container > .contenedor-frase > p:nth-child(2){
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

#servicios{
  padding-top: 50px;
  padding-bottom: 50px;
}
#servicios > .general-container{
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;
}
#servicios > .general-container > .inicial-img > h3{
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 10px;
  color: #a850c3;
  font-weight: 900;
}
#servicios > .general-container > .especific-container{
  display: grid;
  grid-template-columns: minmax(250px, 500px);
  justify-content: center;
  gap: 20px;
  @media screen and (min-width: 630px){
    padding-left: 80px;
  }
  
}
#servicios > .general-container > .especific-container > .servicios-item{
  text-align: center;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0 5px 5px #482a74);
  transition: 1s;
}
#servicios > .general-container > .especific-container > .servicios-item:hover{
  filter: drop-shadow(0 10px 10px #a337c48c);
}
#servicios > .general-container > .especific-container > .servicios-item > h4{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Julius Sans One', sans-serif;
  color:white;
  background-color: #68217e;
  font-weight: 900;
}
#servicios > .general-container > .especific-container > .servicios-item > ul{
  list-style: none;
  padding-top: 30px;
  font-family: 'Varela Round', sans-serif;
  color: #0d3b68a9;
  font-weight: 600;
  font-size: 18px;
}
#servicios > .general-container > .especific-container > .servicios-item > .imagen{
  height: 200px;
  position: relative;
}
#servicios > .general-container > .especific-container > .servicios-item > .imagen > img{
  @apply --imgCover;
  border-radius: 3px;
}
#equipo{
  padding-top: 20px;
  padding-bottom: 30px;
}
#equipo > .general-container > .inicial-img > h3{
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 10px;
  color: #a850c3;
  font-weight: 900;
}
#equipo > .general-container > .inicial-img, #servicios > .general-container > .inicial-img{
  text-align: center;
  padding-bottom: 40px;
}
#equipo > .general-container > .inicial-img > img, #servicios > .general-container > .inicial-img > img {
  width: 100px;
  filter: drop-shadow(0 2px 3px rgba(179, 169, 169, 0.7));
  
}

#item-equipo{
  position: relative;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: minmax(250px, 700px);
  grid-template-rows: 500px;
  gap: 20px;
  justify-content: center;
  
  @media screen and (min-width: 630px){
    padding-left: 80px;
  }
  
  @media screen and (min-width: 900px){
    grid-template-rows: unset;
    height: 350px;
    grid-template-columns: minmax(250px, 410px) minmax(250px, 700px);
    justify-content: center;
    padding-left: 100px;
  }
}
#item-equipo > .img-container{
  position: relative;
}
#item-equipo > .img-container > img{
  @apply --imgCover;
  object-position: top;
  padding: 30px;
  border-radius: 30%;
  filter: drop-shadow(-7px 6px 7px rgba(41, 39, 39, 0.7));

  @media screen and (min-width: 800px){
    padding:0;
  }
}
#item-equipo > .mensaje-info{
  z-index: 4;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #a337c4e5;
  grid-row: 2 / 3;
  
  @media screen and (min-width: 800px){
  }
  @media screen and (min-width: 900px){
    grid-row: unset;
    position: absolute;
    left:32%;
    bottom: 0px;
  }
}
#item-equipo > .mensaje-info > h4{
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}
#item-equipo > .mensaje-info > p{
  margin: 0;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;

  @media screen and (min-width: 800px){
    font-size: 30px;
  }
}
#item-equipo > .info{
  font-family: 'Varela Round', sans-serif;
  color: #0d3b68a9;
  font-size: 18px;
  text-align: justify;
  font-weight: 900;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 800px){
    padding-right: 50px;
  }
} 


@media screen and (min-width: 500px){
  #frase > .general-container > .contenedor-frase > p:nth-child(1){
    font-size: 40px;
  }
  #frase > .general-container > .contenedor-frase > p:nth-child(2){
    font-size: 20px;
  }
}
@media screen and (min-width: 500px){
}
@media screen and (min-width: 800px){
}
@media screen and (min-width: 800px){
  #servicios > .general-container > .especific-container{
    grid-template-columns: repeat(2, minmax(250px, 500px));
  }
  #frase > .general-container > .contenedor-frase > p:nth-child(1){
    font-size: 50px;
  }
  #frase > .general-container > .contenedor-frase > p:nth-child(2){
    font-size: 20px;
  }
}

/* @media screen and (min-width: 900px){
  :--carousel-inner > :--carousel-item > .info{
    font-family: 'Julius Sans One', sans-serif;
    color: #0d3a68;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    padding-top: 80px;
  
  }
} */
/*FOOTER*/
footer {
}
footer > .contenedor-general {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #3b9cfa;
  justify-content: center;
}
footer > .contenedor-general > .contenedor-especifico{
  display: grid;
  grid-template-columns: minmax(200px, 400px);
  justify-content: center;
  gap:10px;
  @media screen and (min-width: 850px){
    grid-template-columns: minmax(200px, 400px) minmax(250px, 600px);
    gap: 10px;
    
  }
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-imagen{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-imagen > img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 850px){
    width: 100%;
  }
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info{
  display: grid;
  grid-template-columns: minmax(200px,300px);
  justify-content: center;
  @media screen and (min-width: 850px){
    grid-template-columns: minmax(200px,300px) 20px minmax(200px, 300px);
    padding-right: 100px;
  }
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .links{
  display: grid;
  grid-template-columns: 1fr;
  height: 60%;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
  margin-top: auto;
  margin-bottom: auto;
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .links > a{
  color: white;
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .separador{
  border-left: 4px solid white;
  height: 150px;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  @media screen and (min-width: 850px){
    display:block;
  }
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .redes{
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  justify-content: center;
  height: 100px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border-top: 3px solid white;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 230px;
  @media screen and (min-width: 850px){
    border-top:none;
    margin-top:auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .redes > p{
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  font-weight: 700;
  @media screen and (min-width: 850px){
    margin-top: auto;
    margin-bottom:auto;
  }
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .redes > p > a{
  color: #a850c3;
  font-weight: 600;
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .redes > p > a:hover{
  color: #68217e;
  font-weight: 900;
  transition: 1s;
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .redes > .redes-icons{
  display: grid;
  grid-template-columns: repeat(2, 30px);
  gap: 20px;
  justify-content: center;
}
footer > .contenedor-general > .contenedor-especifico > .contenedor-info > .redes > .redes-icons > a > img{
  width: 100%;
}
footer > .contenedor-general > .pie-footer{
  background-color: #40494e;
  text-align: center;
  font-weight: 600;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}
footer > .contenedor-general > .pie-footer > p{
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  font-family: 'Julius Sans One', sans-serif;
  color: #3b9cfa;
}
footer > .contenedor-general > .pie-footer > p > a{
  color: white;
}