*{
    margin: 0;
    padding: 0;
}
.brand-logo > span > img{
    width: 250px;
}

header{
    position: relative;
    z-index: 9999;
    background-color: #fff;
}
nav{
    position: absolute;
    z-index: 9999;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    min-height: 42px;
    max-height: 60px;
    transition: .2s;
}
nav > .brand-logo > span{
    position: absolute;
    top: -30px;
    left: 30px;
}
.index-carousel{
    position: relative;
  }
  .index-carousel> a{
    z-index: 10;
  }
  .index-carousel> .carousel-inner > .carousel-item{
    height: 100vh;
    position: relative;
    z-index: 6;
  }
  .index-carousel> .carousel-inner > .carousel-item > img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .index-carousel> .carousel-inner > .carousel-item > .overlay-img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: var(--letraEnlaces);
    background-color: var(--sombra);
    display: grid;
    color: #fff;
    grid-template-columns: minmax(200px, 500px);
    grid-auto-columns: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  .index-carousel .overlay-img > p{
    margin: 0;
    text-align: center;
    font-size: 2em;
    font-family:'Kaushan Script', cursive;
  }
  .index-carousel> .carousel-inner > .carousel-item > .overlay-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Anton', sans-serif;
    background-color: rgba(132, 93, 143, 0.5);
    display: grid;
    color: #fff;
    grid-template-columns: minmax(200px, 500px);
    grid-auto-columns: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  .index-carousel> .carousel-inner > .carousel-item > .overlay-img > p > span {
      font-size: 70px;
      font-family: 'Julius Sans One', sans-serif;
  }

main{
  background-color: #f8f8f8;
}

  /*SECCION FRASE*/

#frase{

}
#frase > .general-container{
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  justify-content: center;
  padding-top: 50px;
}
#frase > .general-container > .inicial-img, #servicios > .general-container > .inicial-img{
  text-align: center;
  padding-bottom: 40px;
}
#frase > .general-container > .inicial-img > img, #servicios > .general-container > .inicial-img > img {
  width: 100px;
  filter: drop-shadow(0 2px 3px rgba(179, 169, 169, 0.7));
}
#frase > .general-container > .contenedor-frase{
  background-color: #3b9cfa;
  padding: 150px 30px;
  text-align: center;
}
#frase > .general-container > .contenedor-frase > p:nth-child(1){
  font-size: 40px;
  color: white;
  font-family: 'Allura', cursive;
  text-shadow: 3px 3px 3px  #2f80d1;
}
#frase > .general-container > .contenedor-frase > p:nth-child(2){
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

#servicios{
  padding-top: 50px;
  padding-bottom: 50px;
}
#servicios > .general-container{
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;
}
#servicios > .general-container > .inicial-img > h3{
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 10px;
  color: #a850c3;
  font-weight: 900;
}
#servicios > .general-container > .especific-container{
  display: grid;
  grid-template-columns: minmax(250px, 500px);
  justify-content: center;
  gap: 20px;
}
#servicios > .general-container > .especific-container > .servicios-item{
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  filter: drop-shadow(0 2px 3px rgba(138, 134, 134, 0.7));
}
#servicios > .general-container > .especific-container > .servicios-item:hover{
  filter: drop-shadow(0 10px 10px rgba(110, 167, 221, 0.7));
}
#servicios > .general-container > .especific-container > .servicios-item > h4{
  padding-top: 35px;
  font-family: 'Julius Sans One', sans-serif;
  color: #83969e;
  font-weight: 900;
}
#servicios > .general-container > .especific-container > .servicios-item > ul{
  list-style: none;
  padding-top: 30px;
  font-family: 'Julius Sans One', sans-serif;
  color: #154d85;
  font-weight: 800;
}
#servicios > .general-container > .especific-container > .servicios-item > .imagen > img{
  width: 100%;
  border-radius: 3px;
}
#equipo{
  padding-top: 20px;
  padding-bottom: 30px;
}
#equipo > .general-container > .inicial-img > h3{
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 10px;
  color: #a850c3;
  font-weight: 900;
}
#equipo > .general-container > .inicial-img, #servicios > .general-container > .inicial-img{
  text-align: center;
  padding-bottom: 40px;
}
#equipo > .general-container > .inicial-img > img, #servicios > .general-container > .inicial-img > img {
  width: 100px;
  filter: drop-shadow(0 2px 3px rgba(179, 169, 169, 0.7));
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner{
  display: grid;
  grid-template-columns: minmax(280px, 1200px);
  justify-content: center;
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item{
  display: grid;
  grid-template-columns:minmax(250px, 700px);
  padding:30px;
  gap: 20px;
  justify-content: center;
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > img{
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 3px;
  filter: drop-shadow(-7px 6px 7px rgba(41, 39, 39, 0.7));
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info{
  width: auto;
  background-color: #3b9afad0;
  z-index: 4;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info > p:nth-child(1){
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info > p:nth-child(2){
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}
#equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .info{
  font-family: 'Julius Sans One', sans-serif;
  color: #0d3a68;
  font-size: 18px;
  text-align: justify;
  font-weight: 900;
}
@media screen and (min-width: 500px){
  #frase > .general-container > .contenedor-frase > p:nth-child(1){
    font-size: 40px;
  }
  #frase > .general-container > .contenedor-frase > p:nth-child(2){
    font-size: 20px;
  }
}
@media screen and (min-width: 800px){
  #servicios > .general-container > .especific-container{
    grid-template-columns: repeat(2, minmax(250px, 500px));
  }
  #frase > .general-container > .contenedor-frase > p:nth-child(1){
    font-size: 50px;
  }
  #frase > .general-container > .contenedor-frase > p:nth-child(2){
    font-size: 20px;
  }
  #equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info{
    bottom: 250px;
    left:250px;
  }
  #equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info > p:nth-child(1){
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
  }
  #equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info > p:nth-child(2){
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
  }
}
@media screen and (min-width: 900px){
  #equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item{
    grid-template-columns: minmax(250px, 410px) minmax(250px, 700px);
    justify-content: center;
  }
  #equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .imagen > .mensaje-info{
    bottom: 10px;
    left:32%;
    position: absolute;
    z-index: 4;
  }
  #equipo > .general-container > .especific-container > #carouselExampleControls > .carousel-inner > .carousel-item > .info{
    font-family: 'Julius Sans One', sans-serif;
    color: #0d3a68;
    font-size: 18px;
    text-align: justify;
    font-weight: 900;
  }
}